{{> head}}
{{> navbar}}

<div class="row">

<div class="col-8">
    <h1>F2114    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse debitis praesentium autem reprehenderit laudantium consequatur vel necessitatibus distinctio, sint temporibus. Aliquid nihil autem id tempora adipisci laboriosam necessitatibus nobis vel.
    </p>
</div>


<div class="col-4">
    <img src="assets/img/f2104.jpg" class="img-thumbnail">
</div>
</div>

{{> footer}}